<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">RAPiDSkills</a>
  <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <li class="nav-item">
          <%= link_to "Admin", admin_root_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</nav>

<div class="container">
  <div id="site-header" class="row">
    <div class="col-sm">
      <h1 class="text-center">Welcome to RAPiDSkills</h1>
    </div>
  </div>

  <div id="email-form" class="row">
    <div class="col-sm-12">
      <p>Please enter your email address if you would like to be added to our mailing list:</p>
    </div>
  </div>

  <%= form_with model: User.new, local: true do |f| %>
    <div class="row">
      <div class="col-sm-12 col-med-8 col-lg-6">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-med-8 col-lg-6">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-med-8 col-lg-2">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
